.profile{
    input{
        min-width:20em;
        background: lighten($myColor, 25%);
        border:none;
    }
   
    button, .file{
        border-bottom-color: black; 
        margin:0 2em;
    }
}